# Copy this to terraform.tfvars and fill (terraform.tfvars Git mein NAHI jaata — secret!)
my_ip       = "YOUR.PUBLIC.IP.HERE"   # curl ifconfig.me se lo (bina /32)
db_password = "ChangeMe-Strong123!"   # strong password
worker_count = 1                       # cost: 1 worker. 2 karna ho to badlo
